@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Onest', sans-serif;
        font-optical-sizing: auto;
    
        font-style: normal;
}
